<div id="signup-form">
	<h2>Existing Members</h2>
	<%= form_for(:session, url: sessions_path,  html: {class: "form-vertical"}) do |f| %>
 		<div class="field">
   		<%= f.label :email %>
   		<%= f.text_field :email %>
 		</div>
			<div class="field">
  			<%= f.label :password %>
  			<%= f.password_field :password %>
			</div>
			<div class="actions">
  			<%= submit_tag "Sign in", class: "btn btn-primary", type: "submit" %>
			</div>
	<% end %>
	<p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>