<div class="row-fluid">
	<div class="span3">
		<%= render 'shared/sidebar'%>
	</div>
	<div class="span8">
		<div class="well">
<h1>Change settings</h1><br />
<%= render 'shared/error_messages' %>
<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= submit_tag "Update", class: "btn btn-primary", type: "submit" %>
  </div>
<% end %>
</div>
</div>
</div>