<h2>List of Users</h2>
<% if @users.empty? %>
	<div class="alert alert-block">
	<h4 class="alert-heading">No users!</h4>
	</div>
<% else %>
	<table class="table table-striped">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Options</th>
		</tr>
		<% @users.each do |user| %>
		<tr>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.email %></td>
			<td><%= user.phone %></td>
			<td>
				<a href="<%= edit_user_path(user) %>" class="btn btn-mini"><i class='icon-cog'></i> Edit</a>
				<a href="<%= user_path(user) %>" class="btn btn-mini btn-danger" data-confirm="You sure?" data-method="delete" rel="nofollow"><i class='icon-trash icon-white'></i> Delete</a>
			</td>
		</tr>
		<% end %>
	</table>
<% end %>